@charset "utf-8";
/* reset css */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, th, td {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0;
}
address, cite, dfn, em, var {
	font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
	font-weight: normal;
}
/* 清除浮动 */
.clearfix:after, .nav:after, .content:after, .grid:after, .h:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.clearfix, .nav, .content, .grid, .h {
 *zoom:1;
}
.clear {
	clear: both;
	height: 0;
	font: 0/0 Arial;
	visibility: hidden;
}
/* 通用 */
body, button, input, select, textarea {
	font: 12px/1.5 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	color: #333;
}
.vm, input, label {
	vertical-align: middle;
}
.tc {
	text-align: center;
}
.fl {
	float: left;
	_display: inline;
}
.fr {
	float: right;
	_display: inline;
}
.mb10 {
	margin-bottom: 10px;
}
.mr10 {
	margin-right: 10px;
}
.hide {
	display: none;
}
.nt {
	text-align: left;
	letter-spacing: -3em;
	overflow: hidden;
}
.nt:first-letter {
	margin-left: -20em;
}
/* 链接 */
a {
	color: #252525;
	text-decoration: none;
}
a:hover {
	color: #048;
}
a:active {
	outline: none;
}
/* nav */
.nav li, .nav dt, .nav dd {
	float: left;
	position: relative;
}
.nav a {
	display: inline-block;
}
.nav dt {
	font-weight: bold;
}
/* tab */
.tab {
	display: block;
}
.tab li {
	float: left;
}
.tab li a {
	display: block;
}
/* list */
.h li {
	float: left;
	_display: inline;
	_white-space: nowrap;
}
.list-t, .list-a, .list-p, .list-b-t, .list-p-t, .list-p-t li, .list-r {
	overflow: hidden;
	zoom: 1;
}
.list-t li, .list-a li, .list-p li, .list-b-t li, .list-p-t li, .list-r li {
	position: relative;
	line-height: 1.5;
}
.list-t li a {
	overflow: hidden;
	text-overflow: ellipsis;
}
.list-t li a:hover {
	text-decoration: underline;
}
.list-t li span.tag {
	margin-right: 5px;
}
.list-t li span.date {
	position: absolute;
	top: 0;
	right: 0;
}
.list-p li {
	text-align: center;
}
.list-a li a {
	display: inline-block;
}
/* 自定义 */
body {
	font-family: microsoft yahei, simhei;
	font-size: 14px;
}
/* 标题 */
.t1 {
	position: relative;
	border-bottom: 1px solid #ddd;
	margin: 0 0 9px;
	padding: 0 15px;
	font: bold 20px/50px microsoft yahei, smihei;
	color: #048;
}
.t2 {
	position: relative;
	border: 1px solid #ddd;
	margin: 10px 0;
	padding: 0 9px;
	font: bold 18px/48px microsoft yahei, smihei;
	background: #f8f8f8;
	color: #048;
	zoom: 1;
}
.t2 b {
	position: relative;
	display: inline-block;
	margin: -1px 0 -1px -10px;
	padding: 1px 15px;
	border-left: 6px solid #048;
}
.t3 {
	position: relative;
	border-bottom: 1px dotted #ddd;
	margin: 0 0 9px;
	padding: 12px 0;
	font: bold 16px/16px microsoft yahei, smihei;
}
.t3 b {
	display: inline-block;
	border-left: 6px solid #ddd;
	padding: 0 0 0 10px;
	color: #048;
}
.t4 {
	margin: 0 10px;
	padding: 5px;
	font: bold 15px/20px microsoft yahei, smihei;
	color: #048;
}
/* 版块和布局 */
.grid {
	margin-left: 10px;
}
.grid + .grid {
	margin-top: 10px;
}
.col {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.col > div {
	margin-right: 10px;
}
.col-6 .col {
	width: 16.66%;
}
.col-5 .col {
	width: 20%;
}
.col-4 .col {
	width: 25%;
}
.col-3 .col {
	width: 33.33%;
}
.col-2 .col {
	width: 50%;
}
.pane {
	padding: 15px;
	zoom: 1;
	line-height: 1.5em;
	background-color: #fff;
	border-radius: 3px;
}
.pane > p + p {
	margin-top: 1em;
}
.pane-bd {
	border: 1px solid #ddd;
	padding: 14px;
	box-shadow: 0 0 5px rgba(0,0,0,.05);
}
.pane-bdt {
	border-top: 3px #ddd solid;
}
.pane-bdt-blue {
	border-top: 3px #1b80d2 solid;
}
.pane-bdt-blue h2 b, .pane-bdt-blue h3 b {
	color: #1b80d2;
}
.pane-bdt-green {
	border-top: 3px #36d2a5 solid;
}
.pane-bdt-green h2 b, .pane-bdt-green h3 b {
	color: #36d2a5;
}
.pane-bdt-orange {
	border-top: 3px #f39c12 solid;
}
.pane-bdt-orange h2 b, .pane-bdt-orange h3 b {
	color: #f39c12;
}
.pane-bdt-red {
	border-top: 3px #f41c20 solid;
}
.pane-bdt-red h2 b, .pane-bdt-red h3 b {
	color: #f41c20;
}
.pane-bdt-purple {
	border-top: 3px #9b59b6 solid;
}
.pane-bdt-purple h2 b, .pane-bdt-purple h3 b {
	color: #9b59b6;
}
.pane > h2, .pane > h3 {
	position: relative;
	line-height: 20px;
	font-size: 15px;
	border-radius: 3px 3px 0 0;
}
.pane > h2 {
	margin: -9px 0 10px;
	padding: 10px 0;
}
.pane > h2 .fr {
	margin-right: 0;
}
.pane > h3 {
	margin: -15px -15px 10px;
	padding: 10px 0;
}
.pane > h3 b {
	padding: 0 10px;
}
.pane > h3 .fr {
	margin-right: 10px;
}
.pane > h3 .btn-normal {
	border: none;
}
.pane-ht-blue {
	background-color: #1b80d2;
	color: #fff;
}
.pane-ht-green {
	background-color: #36d2a5;
	color: #fff;
}
.pane-ht-orange {
	background-color: #f39c12;
	color: #fff;
}
.pane-ht-red {
	background-color: #f41c20;
	color: #fff;
}
.pane-ht-purple {
	background-color: #9b59b6;
	color: #fff;
}
.pane-scrollx {
	width: 100%;
	overflow-x: auto;
}
/* 提示 */
.note {
	border: 1px dotted #bde;
	padding: 19px;
	line-height: 2em;
	background-color: #f0f6fc;
	color: #048;
	border-radius: 3px;
}
.note p strong {
	color: #f80;
}
/* 按钮 */
span.opt {
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	height: 30px;
	margin-top: -15px;
}
td.opt {
	text-align: center;
}
.btns {
	padding: 10px;
	text-align: center;
	font: 0/0 microsoft yahei, simhei;
}
.btn {
	display: inline-block;
	box-sizing: border-box!important;
	min-width: 80px;
	height: 40px;
	border: none;
	outline: none;
	margin: 0 5px;
	padding: 0 20px;
	line-height: 40px;
	text-align: center;
	white-space: nowrap;
	word-break: keep-all;
	cursor: pointer;
	vertical-align: middle;
	font-weight: normal;
	font-family: microsoft yahei, simhei;
	font-size: 14px;
	background-color: #1b80d2;
	color: #fff;
	border-radius: 2px;
	transition: opacity .2s;
}
.btn:hover {
	opacity: 0.8;
}
a.btn:hover {
	color: #fff;
}
.btn-normal {
	border: 1px solid #ddd;
	background-color: #fff;
	color: #797979;
}
a.btn-normal:hover {
	background-color: #f8f8f8;
	color: #828282;
}
.btn-primary, .btn-lakeblue {
	background-color: #4eccdb;
	color: #fff;
}
.btn-alert, .btn-yellow {
	background-color: #f1c40f;
	color: #fff;
}
.btn-warn, .btn-orange {
	background-color: #f39c12;
	color: #fff;
}
.btn-danger, .btn-red {
	background-color: #f41c20;
	color: #fff;
}
.btn-info, .btn-green {
	background-color: #36d2a5;
	color: #fff;
}
.btn-system, .btn-purple {
	background-color: #9b59b6;
	color: #fff;
}
.btn-disabled {
	border: 1px solid #e9e9e9;
	background-color: #fafafa;
	color: #ccc;
	cursor: not-allowed;
}
a.btn-disabled:hover {
	color: #ccc;
}
.btn-big {
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	font-size: 16px;
}
.btn-small {
	min-width: 60px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	font-size: 12px;
}
.btn-mini {
	min-width: inherit;
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	font-size: 12px;
}
.btn-radius {
	border-radius: 100px;
}
.btn i {
	display: inline-block;	
	font-size: 20px;
}
.btn-big i {
	font-size: 24px;
}
.btn-small i {
	font-size: 16px;
}
.btn-mini i {
	font-size: 14px;
}
.btn-disabled i {
	opacity: 0.5!important;
}
.backtop {
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: block;
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: #058 url(../images/uc/backtop.png) center no-repeat;
	box-shadow: 0 15px 35px rgba(0,0,0,.2);
	z-index: 9;
	opacity: 0.85;
}
.backtop:hover {
	background-color: #1b80d2;
}
/* 通用表单 */
.jr-forms {
	padding: 10px;
}
.jr-forms > ul > li {
	border-bottom: 1px dotted #ddd;
	padding: 10px;
	line-height: 30px;
}
.jr-forms li img, .jr-forms td img {
	height: 30px;
	vertical-align: middle;
}
.jr-forms .inp, .jr-forms textarea, .jr-forms select {
	display: inline-block;
	box-sizing: border-box;
	border: 1px #ddd solid;
	width: auto;
	height: 30px;
	min-width: 160px;
	padding: 5px;
	line-height: 18px;
	outline: none;
	background: #fff;
	color: #797979;
	vertical-align: middle;
}
.jr-forms .inp.date {
	
}
.jr-forms li textarea {
	width: 300px;
	height: 120px;
}
.jr-forms td textarea {
	width: 100%;
	height: 120px;
}
.jr-forms .inp.current, .jr-forms input.inp:focus, .jr-forms textarea:focus, .jr-forms select:focus {
	background: #fff url(../images/uc/shadow.png) top repeat-x;
	border: 1px #a3bde2 solid;
}
.jr-forms li input.full {
	width: 50%;
}
.jr-forms td input.full {
	width: 100%;
}
.jr-forms input.small {
	width: 50px;
	min-width: inherit;
}
.jr-forms table {
	width: 100%;
}
.jr-forms th, .jr-forms td {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	line-height: 30px;
}
.jr-forms thead th {
	background-color: #f8f8f8;
	white-space: nowrap;
	word-break: keep-all;
	padding: 10px;
	line-height: 20px;
}
.jr-forms tbody th, .jr-forms label {
	width: 6em;
	padding-right: 1em;
	text-align: right;
	color: #2980b9;
}
.jr-forms li label {
	display: inline-block;
	vertical-align: top;
}
.jr-forms th label {
	padding: 0;
}
.jr-forms .set + label {
	width: auto;
	margin: 0 15px 0 5px;
	color: #797979;
}
.jr-forms table.border {
	margin-bottom: -1px;
}
.jr-forms table.border th, table.border td {
	border: 1px solid #ddd;
}
.jr-forms table.border tbody th {
	width: auto;
	vertical-align: top;
}
.jr-forms table.border thead th {
	vertical-align: middle;
}
.jr-forms table.border .inp {
	min-width: inherit;
}
.jr-forms .tc th, .jr-forms .tc td {
	text-align: center;
}
.jr-forms tbody td.line {
	padding: 0;
	height: 4px;
	background-color: #f8f8f8;
}
.jr-forms .tip {
	display: inline-block;
	padding: 0 10px;
	color: #797979;
	white-space:nowrap;
    word-break:keep-all;
}
.jr-forms .tip i {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	background: url(../images/uc/icons.png) -685px -45px no-repeat;
}
.f00 {
	color: #f00;
}

.jr-forms .disabled {
	background-color: #e9e9e9;
	opacity: .5;
}
/* 文档材料表单 */
.jr-doc {
	padding: 10px;
	color: #333;
}
.jr-doc .inp, .jr-doc textarea {
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px #797979 solid;
	height: 30px;
	padding: 5px;
	line-height: 20px;
	font-size: 14px;
	font-family: microsoft yahei, simhei;
	background: none;
}
.jr-doc textarea {
	height: 100px;
}
.jr-doc .inp.current, .jr-doc input.inp:focus, .jr-doc textarea:focus, .jr-doc select:focus {
	outline: none;
	border-bottom: 1px #000 solid;
	background: #fff url(../images/uc/shadow.png) bottom repeat-x;
	color: #797979;
}
.red-title {
	padding: 50px;
	font: bold 30px/2em simsun;
	text-align: center;
	color: #d00;
}
.cover {
	width: 420px;
	margin: 0 auto 50px;
}
.cover .inp, .cover textarea {
	width: 300px;
}
.jr-doc > ul > li {
	padding: 5px;
	line-height: 30px;
	font-size: 16px;
}
.jr-doc li b {
	display: inline-block;
	width: 200px;
	text-align: right;
	white-space: nowrap;
	word-break: keep-all;
}
.jr-doc li label {
	display: inline-block;
	width: 100px;
	text-align: right;
	white-space: nowrap;
	word-break: keep-all;
}
.jr-doc .set + label {
	width: auto;
	margin: 0 15px 0 5px;
}
.jr-doc table {
	width: 80%;
	margin: 0 auto;
}
.jr-doc table + table {
	margin-top: -1px;
}
.jr-doc th, .jr-doc td {
	border: 1px solid #797979;
	padding: 10px;
	line-height: 20px;
}
.jr-doc thead th {
	background-color: #e9e9e9;
	font-weight: bold;
	font-size: 16px;
}
.jr-doc tbody th {
	width: 8em;
	font-weight: bold;
}
.jr-doc td .inp, .jr-doc td textarea {
	width: 100%;
}
.jr-doc td p .inp {
	width: auto;
}
.jr-doc td textarea + * {
	margin-top: 10px;
}
/* tab */
.jr-tab {
	height: 40px;
	border-bottom: 1px solid #a3bde2;
}
.jr-tab li {
	float: left;
	margin-left: 4px;
}
.jr-tab li a {
	display: inline-block;
	margin-bottom: -1px;
	padding: 0 20px 1px;
	line-height: 38px;
	border: 1px solid #a3bde2;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	transition: all .2s;
}
.jr-tab li a:hover {
	background-color: #f0f6fc;
	color: #1b80d2;
}
.jr-tab li.current a, .jr-tab li.current a:hover {
	border-color: #1b80d2;
	background-color: #1b80d2;
	color: #fff;
}
.jr-tab2 {
	height: 50px;
	border-bottom: 1px solid #ddd;
}
.jr-tab2 li {
	float: left;
}
.jr-tab2 li a {
	position: relative;
	display: block;
	padding: 0 38px;
	line-height: 50px;
	font-size: 15px;
	text-align: center;
	color: #797979;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
.jr-tab2 li.current a {
	color: #058;
	font-weight: bold;
}
.jr-tab2 li + li a::after {
	content: '';
	position: absolute;
	top: 18px;
	bottom: 18px;
	left: 0;
	width: 1px;
	background-color: #ddd;
}
.jr-tab2 li a::before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 10%;
	width: 80%;
	height: 4px;
	background: #058;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
}
.jr-tab2 li.current a::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
/* list */
table.data {
	width: 100%;
	border: 1px solid #bde;
}
table.data th, table.data td {
	border-bottom: 1px solid #bde;
	padding: 5px 10px;
	line-height: 20px;
	text-align: center;
}
table.data thead th {
	border: 1px solid #bde;
	border-bottom: 2px solid #048;
	background: #fff;
	color: #048;
	font-weight: bold;
	white-space:nowrap;
    word-break:keep-all;
}
table.data tbody tr:nth-child(even) td, table.data tbody tr.even td {
	background: #f0f6fc;
}
table.data tbody td p {
	text-align: left;
}
table.data tbody tr:hover td {
	background-color: #ffe;
}
table.data.border th, table.data.border td {
	border: 1px solid #bde;
}
table.state {
	width: 100%;
	border: 1px solid #ddd;
}
table.state th, table.state td {
	padding: 5px 10px;
	line-height: 20px;
	text-align: center;
}
table.state thead th {
	border: 1px solid #ddd;
	background-color: #e9e9e9;
	text-align: center;
	font-weight: bold;
	white-space:nowrap;
    word-break:keep-all;
}
table.state tbody th {
	border-bottom: 1px solid #ddd;
	text-align: left;
}
table.state tbody td {
	border-bottom: 1px solid #ddd;
}
table.state tbody td p {
	text-align: left;
}
table.state tbody td.tr {
	text-align: right;
}
table.state tbody tr:hover th, table.state tbody tr:hover td {
	background-color: #f8f8f8;
}
table.state tbody td.date {
	background: url(../images/uc/date.png) 12px 50% no-repeat;
	padding-left: 30px;
	text-align: left;
}
table.state.border tbody th, table.state.border tbody td {
	border: 1px solid #ddd;
}
.list-t li {
	height: 34px;
	padding-left: 20px;
	line-height: 34px;
	background: url(../images/uc/dot00.png) 10px 50% no-repeat;
}
/* 分页 */
.pages {
	font: 0/0 microsoft yahei;
	padding: 15px 0;
	text-align: center;
}
.pages a {
	display: inline-block;
	line-height: 28px;
	margin: 0 1px;
	padding: 0 10px;
	border: 1px #ddd solid;
	font-size: 14px;
	vertical-align: middle;
}
.pages a:hover {
	border: 1px #3672a5 solid;
}
.pages a.current {
	border: 1px #3672a5 solid;
	background-color: #3672a5;
	color: #fff;
	position: relative;
}
.pages span {
	line-height: 28px;
	font-size: 14px;
	margin-left: 10px;
	vertical-align: middle;
}
.pages select {
	border: 1px #d2d2d2 solid;
	padding: 4px;
}
/* 空页面 */
.blank h2 {
	padding: 0.2em 200px;
	font: bold 120px/2em microsoft yahei, simhei;
	background-color: #135a9c;
	color: #fff;
}
.blank h3 {
	padding: 30px 200px;
	font: bold 24px/2em microsoft yahei, simhei;
}
.blank p {
	padding: 0 200px;
	font: normal 16px/2em microsoft yahei, simhei;
}
/* jquery ui */
.ui-draggable-handle {
	cursor: move;
}
/* 位置 */
.where {
	position: relative;
}
.crumbs {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 20px;
	line-height: 50px;
	white-space: nowrap;
	word-break: keep-all;
	color: #ccc;
}
.crumbs a, .crumbs span {
	display: inline-block;
	margin: 0 10px;
}
.crumbs .home {
	padding-left: 25px;
	background: url(../images/uc/i_home.png) 0 50% no-repeat;
}


/* 颜色 */

.blue {
    color: #1b80d2!important;
}

.lakeblue {
    color: #4eccdb!important;
}

.yellow {
    color: #f1c40f!important;
}

.orange {
    color: #f39c12!important;
}

.red {
    color: #f41c20!important;
}

.green {
    color: #36d2a5!important;
}

.purple {
    color: #9b59b6!important;
}

.gray {
    color: #bbb!important;
}

.md-blue {
    background-color: #1b80d2!important;
}

.md-lakeblue {
    background-color: #4eccdb!important;
}

.md-green {
    background-color: #36d2a5!important;
}

.md-orange {
    background-color: #f39c12!important;
}

.md-red {
    background-color: #f41c20!important;
}

.md-purple {
    background-color: #9b59b6!important;
}

.md-gray {
    background-color: #f5f5f5!important;
    color: #797979;
}

.gd-blue {
    background: #00c6fb;
    background: -webkit-linear-gradient(60deg, #00c6fb 0%, #005bea 100%);
    background: linear-gradient(60deg, #00c6fb 0%, #005bea 100%);
}

.gd-lakeblue {
    background: #36d1dc;
    background: -webkit-linear-gradient(-120deg, #5b86e5, #36d1dc);
    background: linear-gradient(-120deg, #5b86e5, #36d1dc);
}

.gd-green {
    background: #96deda;
    background: -webkit-linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    background: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
}

.gd-orange {
    background: #ff5858;
    background: -webkit-linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

.gd-red {
    background: #ee0979;
    background: -webkit-linear-gradient(60deg, #ff6a00, #ee0979);
    background: linear-gradient(60deg, #ff6a00, #ee0979);
}

.gd-purple {
    background: #834d9b;
    background: -webkit-linear-gradient(60deg, #d04ed6, #834d9b);
    background: linear-gradient(60deg, #d04ed6, #834d9b);
}

.gd-gray {
    background: #ece9e6;
    background: -webkit-linear-gradient(60deg, #ffffff, #ece9e6);
    background: linear-gradient(60deg, #ffffff, #ece9e6);
}

.md-blue,
.md-blue>a,
.md-lakeblue,
.md-lakeblue>a,
.md-green,
.md-green>a,
.md-orange,
.md-orange>a,
.md-red,
.md-red>a,
.md-purple,
.md-purple>a,
.gd-blue,
.gd-blue>a,
.gd-lakeblue,
.gd-lakeblue>a,
.gd-green,
.gd-green>a,
.gd-orange,
.gd-orange>a,
.gd-red,
.gd-red>a,
.gd-purple,
.gd-purple>a {
    color: #fff!important;
}

/* 安全评级 */
table.grade {
     width: 100%;
 }

 table.grade th,
 table.grade td {
     border: 1px solid #ddd;
     padding: 10px;
     line-height: 24px;
     text-align: center;
 }

 table.grade thead th {
     color: #797979;
 }

 table.grade td p {
     text-align: left;
 }

 table.grade td p i {
     vertical-align: middle;
     font-size: 24px;
 }

 .backgroundColor {
     background-color: #ecf4e8!important;
 }

 .cc-name {
     display: inline-block;
     width: 160px;
     margin: 0 15px;
 }

 .cc-info {
     display: inline-block;
     border-left: 1px solid #ddd;
     padding: 0 15px;
 }